.mySlides {
    display:none;
    width: 100%;
    height: 80%;
    }
    #about{
    font-size:2vw;
    font-family:rachana;
    position:relative;
    }
    .pro{
    font-size: 2vw;
    background-color:gray;
    }
    .slide{
    float:right;
    position:relative;
    width: 60%;
    height: auto;}
    .inav{
    width: 100%;}
    /* <!-- 
    1.small phones
    2.large phones
    3.tablets
    4.laptops,desktops
    5.large laptops,desktops--> 
    */
    @media only screen and (max-width: 768px){
    }
    @media only screen and (max-width: 992px){
    .slide{
    width: 100%;
    height:50%;}
    #about{
    font-size:18px;}
    }
